hr{
    margin: 0;
}

.rodape{
    color: black;
    font-weight: 400;
    padding: 1em;
    background: var(--branco);
    padding-bottom: 1.5em;
}

.lista-rodape{
    display: none;
}

@media screen and (min-width: 1024px) {
    .rodape{
        display: flex;
        justify-content: space-around;
        padding: 2.5em;
    }

    .lista-rodape{
        display: block;
    }

    .lista-rodape__item{
        display: flex;
        align-items: center;
        margin: 1em 0;
    }

    .lista-rodape__link{
        color: var(--cinza-escuro);
        text-decoration: none;
        margin-left: 0.5em;
    }

    .lista-rodape__titulo{
        color: var(--cinza-claro);
        font-size: 14px;
        text-transform: uppercase;
    }

    .rodape__titulo{
        font-size: 24px;
    }
}

@media screen and (min-width: 1728px) {
    .lista-rodape{
        border-left: 1px solid var(--cinza-claro);
        padding-left: 1em;
    }

    .rodape{
        padding: 3em 0;
    }
}